
 <h1> Research results</h1>
<div class="row">
    {{#each items}}
  <div class="col-md-4 ">
    <div class="thumbnail bg-dark p-2 g-col-6 mt-2">
        <img src="{{images.0.url}}" alt="Lights" style="width:100%" />
        <div class="caption">
          <p class=" fs-4 text-white">{{name}}</p>
          <a href="/albums/{{this.id}}" class="btn btn-danger">Visit this channel</a>
        </div>
      </a>
    </div>
  </div>
   {{/each}}
</div>