
 <h1>{{name}}</h1>
<div class="row">
    {{#each items}}
  <div class="col-md-4">
    <div class="thumbnail">
        <img src="{{images.0.url}}" alt="Lights" style="width:100%" />
        <div class="caption">
          <p><p>{{name}}</p>
          <a href="/albums/{{this.id}}">Album</a>

        </div>
      </a>
    </div>
  </div>
   {{/each}}
</div>