<div class="row justify-content-center aling-items-center vh-100">
<div class=" col-4">
  <form action="/artist-search" method="GET">
  <div class="">
    <legend>Search your favourite Artist ! </legend> <style>
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
</style>
    <label  for="artist" class="form-label"></label>
    <input  type="text" class="form-control" id="artist" name="artist"> 
  </div>
  <button  type="submit" class="btn btn-primary offset-4">Search for an Artist</button>
</form>
</div> 
</div>


