
<div class="accordion accordion-flush col-4" id="accordionFlushExample">
    {{#each items}}
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
      <p>{{name}} </p>
      </button>
    </h2>
     <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body"><audio controls src="{{preview_url}}" href="{{preview_url}}"></audio></div>
    </div>
    {{/each}}
    </div>